.offer {

    background-color: rgb(250,250,250);

    h2 {

        text-transform:uppercase;
        text-align:center;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        line-height:150px;
        color:#fff;
    }

    .row {

        .wordpress,
        .psd-html {

            cursor:pointer;
            transition:all 0.3s;
            padding-bottom:30px;
            position:relative;
            font-family:$secondary-font;

            &:hover {

                background-color: $primary-red;
            }

            &:hover > * {

                color:#fff;
            }


            h3 {

                text-transform: none;
                text-align:center;
                font-size: 26px;
                    
            }

            p {

                width:70%;
                font-size: 19px;
                padding:15px 0;

            }

            i {

                position:absolute;
                right:25px;
                top:50%;
                transform:translateY(-50%);
                font-size: 60px;

                @media all and (min-width: $medium) {

                    font-size: 90px;
                }
            }

        }

            
        .wordpress {

            border:0;

            @media all and (min-width: $medium) {

                border-right: 2px solid $primary-menu;
            }
        }

        .psd-html {

            p {

                @media all and (min-width: $medium) {
                    
                    padding-left:25px;

                }

             


            }
        }

    }
}