* {

    box-sizing:border-box;
    margin:0;
    padding:0;
}

.container {

    max-width:100%;
    width:100%;
    margin:0 auto;


}

@media all and (min-width:992px) {

    .container {

        max-width:960px;
    }
}

@media all and (min-width:1200px) {

    .container {

        max-width:1140px;
    }
}



