.hobby {

    max-width:1600px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;

    h2 {

        flex-basis:100%;
        font-family:$primary-font;
        font-size: 60px;
        text-align:center;
        text-transform: uppercase;
        margin-top:20px;
        margin-bottom:45px;

        @media all and (max-width:992px) {

            font-size: 48px;
            margin-top: 40px;
            margin-bottom: 35px;

        }

    }

    .item {

        overflow:hidden;
        flex-basis:50%;
        height:300px;
        position:relative;

        .img-background {

            width: 100%;
	        height: 100%;
	        background-position: center;
	        background-size: cover;
	        transition: all 0.5s;

        }

        @media all and (min-width:1024px) {

        &:hover .img-background {

                transform:scale(1.3);
            }
            
        }

        &:hover p {

            opacity:1;
        }

        @media all and (max-width:533px) {

            height:250px;
            flex-basis:100%;
        }


        p {

            font-family:$secondary-font;
            position:absolute;
            width:100%;
            top:50%;
            left:0;
            transform:translateY(-50%);
            color: white;
            text-align: center;
            text-shadow: 0 0 4px black;
            background-color: rgba(0, 0, 0, .3);
            font-size:40px;
            padding: 0;
            opacity: 0;
            transition: 1s;

            @media all and (max-width:1024px) {

                font-size: 30px;
                line-height:50px;
                opacity:1;
            }

            @media all and (max-width:860px) {

                font-size: 25px;
                line-height:30px;
                padding:5px 0;
            }

            @media all and (max-width:533px) {

                font-size: 20px;
                opacity:1;
                top:10%;
                line-height:25px;
            }



        }

    }

}